.about__background {
  width: 320px;
  padding: 90px 0 85px;
}

.about-background {
  background-image: url("../../img/index-background.jpg");
  background-color: #9ccae9;
  background-repeat: no-repeat;
}

.about-background__image {
  display: block;
  margin: 0 auto;
}
