@use "./variables.scss";

.about-background {
  position: relative;
  background-image: url("../img/backgrounds/bg-index-mobile.jpg");
  background-color: #9ccae9;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/bg-index-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-image: url("../img/bg-figure/bg-figure-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }
}

.about-background__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  .about-background {
    width: 100%;
    height: 518px;
    background-image: url("../img/backgrounds/bg-index-tablet.jpg");
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/bg-index-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .about-background__image {
    width: 460px;
    height: 350px;
  }
}

@media (min-width: variables.$desktop-width) {
  .about-background {
    background-image: url("../img/backgrounds/bg-index-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/bg-index-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}
