.about-background {
  position: relative;
  margin-bottom: 32px;
  background-image: url("../../img/index-background.jpg");
  background-color: #9ccae9;
  background-repeat: no-repeat;

  &::after {
    position: absolute;
    bottom: 0;
    content: url("../../img/background-figure.svg");
  }
}

.about-background__image {
  display: block;
  margin: 0 auto;
}
