@use "./variables.scss";

.advantages-block {
  background-color: #eeeeee;
}

.advantages-block__description {
  padding: 39px 0 40px;
  // padding-left: 20px;
  // padding-right: 20px;
  text-align: center;
}

.advantages-block__description--primary {
  color: #ffffff;
  background-color: #81b3d2;
  padding-right: 10px;
  padding-left: 10px;
}

.advantages-block__description--secondary {
  margin: 0 18px;
  padding: 26px 18px 24px;

  &:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
  }
}

.advantages-block__image {
  display: block;
}

.advantages-block__title {
  margin-bottom: 11px;
}

.advantages-block__number {
  display: block;
  margin-bottom: 17px;
}

@media (max-width: variables.$mobile-width-only) {
  .advantages-block__figure {
    position: relative;
    padding-top: 54px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 37px;
      background-image: url("../../img/bg-figure/bg-figure-advantage.svg");
      background-position: center;
      background-repeat: no-repeat;
      content: "";
    }
  }

  .advantages-block__title br,
  .advantages-block__text br {
    display: none;
  }
}

@media (min-width: variables.$tablet-width) {
  .advantages-block__description {
    width: 256px;
    padding: 40px 22px 44px;
  }

  .advantages-block__description--secondary {
    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .advantages-block__image {
    width: 512px;
    height: 256px;
  }

  .advantages-block__text-br {
    display: none;
  }
}

@media (min-width: variables.$desktop-width) {
  .advantages-block__description {
    width: 400px;
    padding: 47px 52px 56px;
  }

  .advantages-block__text br {
    &:first-of-type {
      display: none;
    }
  }

  .advantages-block__text-br {
    display: block;
  }

  .advantages-block__title {
    margin-bottom: 14px;
  }

  .advantages-block__number {
    margin-bottom: 26px;
  }

  .advantages-block__image {
    width: 800px;
  }
}
