.advantages-block--primary {
  color: #ffffff;
}

.title--primary {
  color: #ffffff;
}

.advantages-block__description {
  background-color: #81b3d2;
}

.advantages-block__description--secondary {
  background-color: #eeeeee;
}
