@use "./variables.scss";

.advantages__items {
  margin: 0;
  padding: 25px 18px 52px 65px;
  list-style-type: none;
}

.advantages__item {
  position: relative;

  &--housing::before {
    position: absolute;
    top: -6px;
    left: -47px;
    width: 39px;
    height: 37px;
    background-image: url("../../img/icon/icon-house.svg");
    background-size: 39px 37px;
    background-repeat: no-repeat;
    content: "";
  }

  &--food::before {
    position: absolute;
    top: -6px;
    left: -47px;
    width: 40px;
    height: 35px;
    background-image: url("../../img/icon/icon-food.svg");
    background-size: 40px 35px;
    background-repeat: no-repeat;
    content: "";
  }

  &--souvenirs::before {
    position: absolute;
    top: -6px;
    left: -47px;
    width: 32px;
    height: 38px;
    background-image: url("../../img/icon/icon-souvenirs.svg");
    background-size: 32px 38px;
    background-repeat: no-repeat;
    content: "";
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.advantages__title {
  margin-bottom: 16px;
}

@media (max-width: variables.$mobile-width-only) {
  .advantages__text br {
    display: none;
  }
}

@media (min-width: variables.$tablet-width) {
  .advantages__block {
    display: flex;
  }

  .advantages__items {
    display: flex;
    padding: 158px 0 59px;
    list-style-type: none;
    text-align: center;
  }

  .advantages__item {
    width: 256px;
    margin: 0;
    padding: 0 28px;

    &--housing::before {
      top: -100px;
      left: 90px;
      width: 75px;
      height: 75px;
      background-image: url("../../img/icon/icon-house.svg");
      background-size: 75px 75px;
      background-repeat: no-repeat;
      content: "";
    }

    &--food::before {
      top: -97px;
      left: 90px;
      width: 76px;
      height: 68px;
      background-image: url("../../img/icon/icon-food.svg");
      background-size: 76px 68px;
      background-repeat: no-repeat;
      content: "";
    }

    &--souvenirs::before {
      top: -103px;
      left: 90px;
      width: 64px;
      height: 75px;
      background-image: url("../../img/icon/icon-souvenirs.svg");
      background-size: 64px 75px;
      background-repeat: no-repeat;
      content: "";
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .advantages__items {
    display: flex;
  }

  .advantages__item {
    width: 400px;
    padding: 0 65px;

    &--housing::before {
      left: 166px;
    }

    &--food::before {
      left: 168px;
    }

    &--souvenirs::before {
      left: 164px;
    }
  }
}
