@use "./variables.scss";

.location__map {
  // display: block;
  border: none;
  margin-bottom: 11px;
}

@media (min-width: variables.$tablet-width) {
  .location__map {
    width: 768px;
    margin: 0;
  }
}

@media (min-width: variables.$desktop-width) {
  .location__map {
    width: 1200px;
  }
}
