@use "./variables.scss";

.main-footer {
  padding: 40px 18px 23px;
  text-align: center;
}

.main-footer__hashtag {
  margin-bottom: 33px;
}

.main-footer__social {
  margin-bottom: 35px;
}

@media (min-width: variables.$tablet-width) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 120px 36px 110px;
  }

  .main-footer__hashtag {
    margin: 0;
  }

  .main-footer__social {
    margin: 0;
  }
}
