@use "./variables.scss";

.list-left__item {
  &:not(:first-child) {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: variables.$tablet-width) {
  .list-left {
    padding-left: 49px;
    background-color: #ffffff;
  }

  .list-left__item {
    &:first-child {
      margin-right: 75px;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .list-left {
    padding-left: 91px;
  }

  .list-left__item {
    &:first-child {
      margin-right: 162px;
    }
  }
}
