@use "./variables.scss";

@media (min-width: variables.$tablet-width) {

  .main-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }
}
