.media__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.media__item {
  padding: 24px 0;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.media__image {
  display: block;
  margin-bottom: 15px;
}

.media__title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.media__user {
  margin: 0;
  margin-bottom: 11px;
}

.media__number {
  font-weight: 700;
}
