@use "./variables.scss";

.media__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.media__item {
  padding: 24px 20px 22px;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.media__image {
  display: block;
  object-fit: cover;
}

.media__text-wrapper {
  padding-top: 15px;
}

.media__title {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  margin-bottom: 1px;
  text-transform: uppercase;
}

.media__user {
  margin: 0;
  margin-bottom: 11px;
}

.media__button-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
}

.media__button {
  position: relative;
  width: 23px;
  height: 21px;
  margin-right: 14px;
  background: none;
  cursor: pointer;
}

.media__button-icon {
  opacity: 0.3;

  &:hover {
    opacity: 0.1;
  }
}

.media__number {
  font-weight: 700;
  line-height: 1;
  display: block;
}

@media (min-width: variables.$tablet-width) {
  .media__list {
    display: grid;
    grid-template-columns: 324px 324px;
    padding: 0 60px;
  }

  .media__item {
    padding: 0;
    border: none;

    &:first-child {
      grid-column: 1 / 3;
    }

    &:last-child {
      border: none;
    }
  }

  .media__image {
    width: 324px;
    height: 267px;

    &--wide {
      width: 648px;
      height: 400px;
    }
  }

  .media__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }

  .media__text-wrapper--secondary {
    background-color: #eaeaea;
  }

  .media__user {
    margin: 0;
  }

  .media__button {
    margin-right: 9px;
  }
}

@media (min-width: variables.$desktop-width) {
  .media__list {
    grid-template-columns: repeat(3, 400px);
    padding: 0;
  }

  .media__item {
    position: relative;

    &:first-child {
      grid-column: 1 / 4;
    }
  }

  .media__image {
    width: 400px;

    &--wide {
      width: 1200px;
    }
  }

  .media__text-wrapper {

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 22px 20px 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .media__button-icon {
    fill: #ffffff;
    opacity: 1;

    &:hover {
      opacity: 0.5;
    }
  }
}
