@use "./variables.scss";

.media__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.media__item {
  padding: 24px 20px;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.media__image {
  display: block;
  // margin-bottom: 15px;
}

.media__text-wrapper {
  padding-top: 15px;
}

.media__title {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.media__user {
  margin: 0;
  margin-bottom: 11px;
}

.media__number {
  font-weight: 700;
}

@media (min-width: variables.$tablet-width) {

  .media__list {
    display: grid;
    grid-template-columns: 324px 324px;
    padding: 0 60px;
  }

  .media__item {
    padding: 0;
    border: none;

    &:first-child {
      grid-column: 1 / 3;
    }

    &:last-child {
      border: none;
    }
  }

  .media__image {
    width: 100%;
  }

  .media__text-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }

  .media__user {
    margin: 0;
  }
}

@media (min-width: variables.$desktop-width) {

  .media__list {
    grid-template-columns: repeat(3, 400px);
    padding: 0;
  }

  .media__item {

    &:first-child {
      grid-column: 1 / 4 ;
    }
  }

  .media__text-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }
}
