.presentation {
  padding-top: 17px;
  text-align: center;
}

.presentation__text-wrapper {
  padding: 0 25px;
}

.presentation__title {
  margin-bottom: 33px;
}

.presentation__text {
  margin-bottom: 38px;
}

.presentation__button {
  display: block;
}
