@use "./variables.scss";

.promo {
  padding-bottom: 35px;
}

.promo__background {
  width: 320px;
  padding: 52px 0 67px;
  margin-bottom: 37px;
}

.promo__text-wrapper {
  padding: 0 20px;
  text-align: center;
}

.promo__title {
  margin-bottom: 27px;
}

@media (max-width: variables.$mobile-width-only) {
  .promo__text br {
    display: none;
  }
}

@media (min-width: variables.$tablet-width) {
  .promo {
    padding-bottom: 80px;
  }

  .promo__background {
    width: 100%;
    height: 290px;
    margin-bottom: 66px;
    padding: 95px 0 107px;
    background-size: 100% auto;

    &::after {
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translate(-50%, 0);
      content: url("../../img/background-figure.svg");
    }
  }

  .promo__text-wrapper {
    padding: 0 170px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}

@media (min-width: variables.$desktop-width) {
  .promo {
    padding-bottom: 88px;
  }

  .promo__background {
    height: 301px;
    margin-bottom: 98px;
    padding: 101px 0 120px;
  }

  .promo__text-wrapper {
    padding: 0 370px;
  }
}
