.promo {
  padding-bottom: 25px;
}

.promo__background {
  width: 320px;
  padding: 108px 0 67px;
  margin-bottom: 37px;
}

.promo__text-wrapper {
  padding: 0 20px;
  text-align: center;
}

.promo__title {
  margin-bottom: 34px;
}
