.promo__background {
  width: 320px;
  padding: 52px 0 67px;
}

.promo-background {
  background-image: url("../../img/catalog-form-background.jpg");
  background-repeat: no-repeat;
  background-color: #9ccae9;
}

.promo-background__image {
  display: block;
  margin: 0 auto;
}
