@use "./variables.scss";

.feedback-background {
  position: relative;
  background-image: url("../../img/backgrounds/bg-catalog-form.jpg");
  background-repeat: no-repeat;
  background-color: #9ccae9;

  &::after {
    position: absolute;
    bottom: 0;
    content: url("../../img/bg-figure/bg-figure-mobile.svg");
  }
}

.feedback-background__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  .feedback-background {

    &::after {
      content: url("../../img/bg-figure/bg-figure-tablet.svg");
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .feedback-background {

    &::after {
      content: url("../../img/bg-figure/bg-figure-desktop.svg");
    }
  }
}
