.feedback {
  padding-bottom: 28px;
}

.feedback__background {
  width: 320px;
  padding: 108px 0 67px;
  margin-bottom: 36px;
}

.feedback__text-wrapper {
  text-align: center;
}

.feedback__title {
  margin-bottom: 24px;
}
